
<%= form_for([@post, @post.comments.build], local: true) do |f| %>
  <p>
      <%= f.label :name %><br>
      <%= f. text_field :name %>
  </p>
 
  <p>
  <%= f.label :comment %><br>
  <%= f. text_area :comment %>
</p>
<p>
<%= f.submit %>
<p>
<% end %>