<h1> Listing all posts </h1>
<div class="container">
<table>
        <thead>
            <tr>
            <th>title</th>
            <th>content</th>
            <th>Action</th>
            </tr>
        </thead>
                <tboby>
                 <% @posts.each do |post| %>
                        <tr>
                        <td><%= post.title %></td>
                        <td><%= post.content %></td>
                        <td><%= link_to "Edit", edit_post_path(post), class:"button" %></td>
                        <td><%= link_to "Delete", post_path(post), data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %></td>
                        <td><%= link_to "Show", post_path(post), class:"button" %></td>
                        <td><%= post.comments.count %>comments</td>   
                        <td><%= post.likes.count %>likes</td>
                        <td> by <%= post.user.email %></td>            
                      </tr>
                    <% end %>
                </tbody>
                
     </table>
     
   </div>  
