<h1> Showing post</h1>
<div class="container">
<p> by <%= @post.user.email %></p>
<p><strong>Title:<%= @post.title %></strong></p>
<p><strong>Content:<%= @post.content %></strong></p>

<%= link_to favorite_text,favorites_update_path(post: @post), id:'favorite_link', remote: true %>||

<%= link_to "Edit", edit_post_path(@post), class:"button" %>||
<%= link_to "Delete", post_path(@post), data: { turbo_confirm: "Are you sure?", turbo_method: :delete } %>

<p><strong><%= @post.likes.count %></strong> likes</p>
<% like = current_user.likes.find_by(post: @post) %>
<% if like.nil? %>
<form action="/likes" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="like[post_id]" value="<%= @post.id %>">
<input type="submit" value="ðŸ‘">
</form>

<% else %>

<form action="<%= like_path(like) %>" method="post">
<input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
<input type="hidden" name="_method" value="Delete" >
<input type="submit" value="ðŸ‘Ž">
</form>
<% end %>

<p><strong><%= @post.comments.count %></strong> Comments</p>
 <%= render @post.comments %>
 <h3>Leave a reply</h3>
<%= render 'comments/form' %>
</div>